* {
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;

  color: "red";
}

h1,
h2,
h3,
h4,
h5 {
  color: #024c43;
  margin: 0;
}

.cardapios {
  padding: 32px 300px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: ; */
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 12px;
  background-color: #f2f2f2;
}

.item-title {
  font-weight: 400;
  margin: 0;
  padding-bottom: 6px;
}

.item-description {
  font-weight: 300;
  margin: 0;
}

.item-price {
  font-weight: 300;
  margin: 0;
}
